body {
    width: 100vw;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    background: linear-gradient(90deg, #00c3ff, #ffff1c);
}

main {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding: 2rem;
    gap: 1rem;
}

#create_task {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 0.5rem;
}

#creation_task_input {
    width: 200px;
    border-width: 0.2rem;
}

#creation_task_button {
    width: 40px;
}

#all_tasks {
    width: 100%;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
}

.text-center {
    text-align: center;
}

table {
    width: 80%;
    max-width:800px;
    border: 2px solid;
    border-radius: 0.5rem;
    background-color: white;

}

.task_name {
    width: 50%;
}

.actions {
    text-align: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.actions_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions_item:hover {
    transform: scale(1.3);
    cursor: pointer;
    color: rgb(168 85 247);
}


.actions_item {
    width: 1rem;
    margin-right: 0.3rem;
}

.status-todo {
    color: #fff;
    background-color: rgb(12, 212, 243);
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: fit-content;
    border-radius: 9999px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.status-doing {
    color: #fff;
    background-color: rgb(248, 202, 16);
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: fit-content;
    border-radius: 9999px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.status-done {
    color: #fff;
    background-color: rgb(15, 218, 8);
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: fit-content;
    border-radius: 9999px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}